CABINET_IMAGE=cabinet:local
CABINET_BUILD_VERSION=local
CABINET_BUILD_REVISION=local-checkout
CABINET_BUILD_DATE=unknown
CABINET_PROFILE=local-compose
CABINET_INSTANCE_NAME=cabinet-local
CABINET_HOST_PORT=17880
CABINET_PUBLIC_ORIGIN=http://127.0.0.1:17880
CABINET_WEBAUTHN_RP_ID=127.0.0.1
CABINET_WEBAUTHN_RP_NAME=Cabinet Local
CABINET_AUTH_IDENTITY_MODE=local
# Set to zitadel after issue #1952 lands, then provide the isolated local app values.
CABINET_ZITADEL_ISSUER=http://REPLACE_WITH_LOCAL_ZITADEL
CABINET_ZITADEL_PROJECT_ID=REPLACE_WITH_LOCAL_PROJECT_ID
CABINET_ZITADEL_CLIENT_ID=REPLACE_WITH_LOCAL_APPLICATION_ID
CABINET_ZITADEL_AUDIENCE=REPLACE_WITH_LOCAL_APPLICATION_AUDIENCE
CABINET_UPDATE_CHANNEL=beta
CABINET_BACKUP_INTERVAL_MINUTES=60
TZ=Australia/Melbourne
